.header {
    display: flex;
    justify-content: space-between;
    border: .5px solid black;
    margin: 10px;
    background-color: antiquewhite;
}

.logo {
    width: 120px;
    margin-left: 40px;
}
 
.nav-items {
    margin-right: 40px;
}

.nav-items > ul {
    display: flex;
    font-size: x-large;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.body {
    background-color: antiquewhite;
    border: .5px solid black;
    margin: 10px;
}

.filter-btn {
    cursor: pointer;
    margin-left: 10px;
}

.footer {
    text-align: center;
    border: .5px solid black;
    height: 150px;
    margin: 10px;
    background-color: rgb(245, 219, 185);
}

.user-card {
    padding: 10px;
    border: 1px solid black;
}


.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.res-card { 
    width: 300px;
    margin: 10px;
    padding: 12px;
    justify-content: center;
    background-color: rgb(245, 219, 185);
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

.shimmer-card{
    height: 400px;
    width: 300px;
    margin: 10px;
    background-color: rgb(245, 219, 185);
}

.res-card:hover {
    cursor: pointer;
    border: .5px solid black;
}

.res-card-logo {
    width: 280px;
    height: 180px;
    
}

.login {
    height: 60px;
    width: 60px;
    cursor: pointer;

    background-color: rgb(245, 219, 185);
}

.nav-btn{
    cursor: pointer;
}

.filter {
    display: flex;
    cursor: pointer;
    margin: 10px;
}